<a href="https://colab.research.google.com/github/Alfrermn/g20_p1_aprendizaje_automatico/blob/main/p1_g20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Inicio de la práctica 1 del grupo 20 de aprendizaje automático.
Alfredo Román Campos, 100451008
Pedro Monedero Orenes, 100451014

In [28]:
import pandas as pd
disp_df = pd.read_csv("/disp_st20ns1.txt.bz2",
 compression="bz2",
 index_col=0)
comp_df = pd.read_csv("/comp_st20ns1.txt.bz2",
 compression="bz2",
 index_col=0)

In [ ]:
disp_df.head()

In [ ]:
comp_df.head()

In [40]:
disp_df.describe()

,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,apcp_sf5_1,dlwrf_s1_1,dlwrf_s2_1,dlwrf_s3_1,dlwrf_s4_1,dlwrf_s5_1,...,ulwrf_t2_1,ulwrf_t3_1,ulwrf_t4_1,ulwrf_t5_1,uswrf_s1_1,uswrf_s2_1,uswrf_s3_1,uswrf_s4_1,uswrf_s5_1,salida
count,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,...,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4380.000000,4.380000e+03
mean,0.656599,0.293763,0.547114,0.301890,0.614573,318.707934,320.590029,328.451574,348.109838,347.144265,...,247.170859,251.553137,261.797697,260.493431,0.103778,37.079535,71.243296,116.626692,90.455645,1.600000e+07
std,2.303580,1.089344,1.851306,1.070510,2.180580,55.825701,58.603717,59.686235,62.559111,62.464078,...,37.282437,37.215102,40.542602,40.057961,0.294274,24.958118,30.020380,39.874693,33.923706,7.908715e+06
min,0.000000,0.000000,0.000000,0.000000,0.000000,156.789952,155.669267,159.979089,178.261236,182.031955,...,113.455041,120.133677,109.515142,119.209430,0.000000,0.000000,1.818182,4.000000,2.727273,1.500000e+03
25%,0.000000,0.000000,0.000000,0.000000,0.000000,272.962132,271.685283,279.307541,297.424026,296.503501,...,230.088796,234.058299,244.101575,241.780603,0.000000,13.636364,49.454545,99.545455,67.454545,1.028745e+07
50%,0.000000,0.000000,0.000000,0.000000,0.000000,324.868693,326.829293,333.702151,352.373252,350.712579,...,252.988285,257.495827,270.490259,268.373172,0.000000,34.272727,74.636364,125.000000,95.545455,1.602945e+07
75%,0.154545,0.074091,0.189318,0.065682,0.134773,368.280595,373.010531,382.650525,404.274614,402.828500,...,275.039133,279.302296,291.001796,290.038403,0.000000,59.363636,97.181818,143.181818,118.818182,2.285618e+07
max,40.957273,19.052727,24.236363,17.313636,39.569090,427.719424,429.198267,433.831818,470.704812,468.819497,...,316.744499,320.143788,332.305337,329.246324,1.000000,87.272727,201.454545,425.818182,292.272727,3.077010e+07

In [41]:
disp_df.info

<bound method DataFrame.info of        apcp_sf1_1  apcp_sf2_1  apcp_sf3_1  apcp_sf4_1  apcp_sf5_1  dlwrf_s1_1  \
V1       0.000000    0.000000    0.000000    0.000000    0.000000  278.401764
V2       0.000000    0.000000    0.000000    0.016364    0.132727  249.362233
V3       0.016364    0.000000    0.000000    0.000000    0.000000  233.007274
V4       0.000000    0.000000    0.000000    0.000000    0.000000  240.408503
V5       0.000000    0.000000    0.000000    0.000000    0.000000  232.071838
...           ...         ...         ...         ...         ...         ...
V4376    0.021818    0.002727    0.100909    0.211818    0.495455  295.259560
V4377    0.000000    0.000000    0.000000    0.000000    0.000000  251.369274
V4378    0.000000    0.000000    0.000000    0.000000    0.000000  268.900710
V4379    0.000000    0.000000    0.000000    0.000000    0.000000  272.498413
V4380    0.000000    0.000000    0.000000    0.000000    0.000000  274.021712

       dlwrf_s2_1  dlwrf_s3_1  dlwrf_s4_1  dlwrf_s5_1  ...  ulwrf_t2_1  \
V1     246.423459  251.719940  268.195853  266.377441  ...  251.322657
V2     255.096853  273.618458  320.441742  310.292719  ...  232.640081
V3     215.177840  217.951275  237.074578  238.476496  ...  235.374191
V4     237.441999  247.948128  255.274556  245.349503  ...  239.098594
V5     237.108869  245.123549  267.031791  267.845553  ...  232.888478
...           ...         ...         ...         ...  ...         ...
V4376  269.760515  283.727847  340.045571  333.825229  ...  247.621171
V4377  245.372939  250.894286  268.694053  267.977656  ...  243.947339
V4378  265.657551  271.172319  290.206576  286.805933  ...  237.251233
V4379  270.617518  277.380377  293.973930  294.714994  ...  259.252717
V4380  266.436182  273.134161  295.476737  292.996230  ...  245.261454

       ulwrf_t3_1  ulwrf_t4_1  ulwrf_t5_1  uswrf_s1_1  uswrf_s2_1  uswrf_s3_1  \
V1     254.851178  263.160586  259.249662         0.0   10.000000   47.000000
V2     230.209094  209.561145  213.962007         0.0    7.818182   32.454545
V3     236.571659  231.450058  227.529466         0.0   15.818182   84.909091
V4     241.216754  247.927582  245.231042         0.0    9.000000   38.363636
V5     238.498259  254.946371  252.837046         0.0    9.000000   45.909091
...           ...         ...         ...         ...         ...         ...
V4376  239.961657  211.189672  214.153040         0.0    9.909091   36.454545
V4377  249.516891  266.611151  263.478363         0.0   10.000000   48.454545
V4378  247.644827  278.459947  279.570221         0.0    9.545455   46.454545
V4379  258.254035  280.741230  275.893374         0.0    9.909091   46.818182
V4380  249.974326  256.901141  252.303574         0.0    9.818182   45.727273

       uswrf_s4_1  uswrf_s5_1    salida
V1      98.818182   66.000000  11781900
V2      50.545455   33.727273  10027800
V3     170.181818  109.909091   7538100
V4      88.909091   61.727273   3903300
V5      97.909091   65.818182  11560500
...           ...         ...       ...
V4376   28.545455   18.272727   7828500
V4377   99.545455   65.818182  12500400
V4378   98.090909   65.090909  12205500
V4379   99.818182   65.272727  12036300
V4380   93.636364   61.181818  11361600

[4380 rows x 76 columns]>

In [42]:
comp_df.info

<bound method DataFrame.info of        apcp_sf1_1  apcp_sf2_1  apcp_sf3_1  apcp_sf4_1  apcp_sf5_1  dlwrf_s1_1  \
V4381    0.000000    0.000000    0.000000    0.000000    0.000000  264.404993
V4382    0.000000    0.000000    0.000000    0.000000    0.000000  269.839558
V4383    0.000000    0.000000    0.000000    0.000000    0.000000  265.093084
V4384    0.000000    0.000000    0.000000    0.000000    0.000000  291.567519
V4385    0.000000    0.000000    0.000000    0.000000    0.000000  284.410475
...           ...         ...         ...         ...         ...         ...
V5109    0.000000    0.000909    0.006364    0.001818    0.017273  226.654990
V5110    0.128182    0.000000    0.000000    0.000000    0.000000  261.346594
V5111    0.000000    0.000000    0.000000    0.000000    0.002727  219.905562
V5112    0.000909    0.000000    0.000000    0.000000    0.000000  248.024590
V5113    0.000000    0.000000    0.000000    0.000000    0.000000  239.032042

       dlwrf_s2_1  dlwrf_s3_1  dlwrf_s4_1  dlwrf_s5_1  ...  ulwrf_t1_1  \
V4381  265.176447  274.072549  298.442300  295.562503  ...  251.914279
V4382  273.718425  272.429246  270.640994  270.124564  ...  264.443099
V4383  259.488156  263.916984  290.541923  297.158564  ...  203.245346
V4384  299.329082  311.864347  315.423531  306.858570  ...  222.001243
V4385  272.156741  276.074693  289.969050  287.617587  ...  247.749420
...           ...         ...         ...         ...  ...         ...
V5109  227.771704  236.843578  259.892043  273.315849  ...  236.366524
V5110  226.249090  227.429790  232.912026  230.463232  ...  235.991842
V5111  215.572615  224.125820  247.264260  249.584545  ...  227.845336
V5112  227.362726  228.565546  238.502151  237.875000  ...  221.709161
V5113  237.429552  236.429552  239.188851  235.650055  ...  243.180983

       ulwrf_t2_1  ulwrf_t3_1  ulwrf_t4_1  ulwrf_t5_1  uswrf_s1_1  uswrf_s2_1  \
V4381  246.054718  253.885438  275.669941  269.541093         0.0   10.000000
V4382  214.907146  233.809210  271.757444  261.100930         0.0    5.272727
V4383  223.864476  241.115553  244.413043  220.823646         0.0    9.000000
V4384  216.448202  212.023654  268.623654  278.188399         0.0    5.181818
V4385  256.513931  257.649066  274.864757  273.339575         0.0    8.909091
...           ...         ...         ...         ...         ...         ...
V5109  235.852520  241.588285  252.888080  249.474063         0.0   11.818182
V5110  238.946851  242.622916  250.906618  245.492773         0.0   15.909091
V5111  228.784479  229.372674  235.341182  233.212164         0.0   18.909091
V5112  237.413413  243.381055  258.493594  256.376676         0.0   18.454545
V5113  245.678044  248.474761  255.314406  252.997068         0.0   17.000000

       uswrf_s3_1  uswrf_s4_1  uswrf_s5_1
V4381   46.000000   96.000000   63.727273
V4382   43.272727  100.545455   66.636364
V4383   46.909091   90.909091   56.363636
V4384   32.363636   94.000000   64.454545
V4385   44.636364   97.090909   65.363636
...           ...         ...         ...
V5109   55.545455  109.909091   66.909091
V5110   80.818182  161.909091  104.454545
V5111   91.181818  178.181818  113.363636
V5112   93.818182  185.727273  119.636364
V5113   86.727273  167.909091  108.818182

[733 rows x 75 columns]>

In [39]:
comp_df.describe()

,apcp_sf1_1,apcp_sf2_1,apcp_sf3_1,apcp_sf4_1,apcp_sf5_1,dlwrf_s1_1,dlwrf_s2_1,dlwrf_s3_1,dlwrf_s4_1,dlwrf_s5_1,...,ulwrf_t1_1,ulwrf_t2_1,ulwrf_t3_1,ulwrf_t4_1,ulwrf_t5_1,uswrf_s1_1,uswrf_s2_1,uswrf_s3_1,uswrf_s4_1,uswrf_s5_1
count,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,...,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000,733.000000
mean,0.634682,0.319436,0.617758,0.347348,0.690388,322.444203,324.277708,331.691839,350.431399,349.292906,...,247.123880,247.303900,251.643818,262.068169,260.686896,0.089421,36.519162,71.790277,118.946298,91.835173
std,2.100970,1.117818,1.862308,0.914382,1.901870,56.883207,59.517032,60.172716,61.978089,61.812606,...,36.355159,38.375934,38.297308,40.479413,39.244253,0.271270,24.310211,29.872990,39.857651,32.455001
min,0.000000,0.000000,0.000000,0.000000,0.000000,179.174885,182.423719,197.583363,195.314844,192.710582,...,115.800448,119.369005,120.571267,114.676020,111.405484,0.000000,0.090909,3.545455,5.818182,5.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,276.263802,273.752028,280.467823,299.662720,298.976499,...,228.712350,232.010581,234.985908,244.042111,240.932865,0.000000,15.090909,50.181818,100.090909,69.818182
50%,0.000000,0.000000,0.000000,0.000000,0.000000,327.848744,332.274453,338.280839,356.593242,355.177837,...,253.576779,255.156873,258.476809,271.892281,268.656908,0.000000,32.454545,74.818182,126.000000,96.727273
75%,0.198182,0.110000,0.295455,0.110000,0.248182,373.034169,378.757874,385.790314,403.144187,401.397317,...,274.191903,275.466124,279.981922,291.148976,289.983604,0.000000,57.909091,96.272727,143.090909,117.545455
max,24.786363,12.855455,17.886364,7.215454,16.850000,419.744118,426.441453,427.352567,461.221397,465.799233,...,312.744776,309.126615,314.682598,334.684248,334.284102,1.000000,85.545455,182.818182,358.818182,225.909091